.LOB{
    height: 16%;
    width: 100%;
    background-color: #faf9f9;
    display: inline-block;
    float: left;
    position: inherit;
}

.title{
    height: 2%;
    width: 100%;
    font-size: 1vw;
    font-family: Oswald;
    text-align: center;
    display: inline-block;
    margin-bottom: 1%;
}

.liqTitle {
    height: 2%;
    width: 100%;
    font-size: 1vw;
    font-family: Oswald;
    text-align: left;
    display: inline-block;
    margin-bottom: 3%;
}

.lob-svg{
    height: 90%;
    width: 100%;
    display: block;
    position: relative;
}

.axis {
    font-size: 0.7vw;
    font-family: 'Oswald';
}

.lob-row-cell{
    border: 1vw solid black;
}

.lob-line{
    stroke: chocolate;
    stroke-width: 1;
    fill: none;
}

.legend-text{
    font-size: 0.3vw;
    font-family: Oswald;
}

.liquidity{
    margin-top: 1%;
    height: 32%;
    width: 100%;
    font-size: 0.8vw;
    font-family: Oswald;
}

.liq4company{
    height: 14%;
    width: 100%;
    text-align: center;
}

.liq-svg{
    height: 90%;
    width: 100%;
    display: block;
    position: relative;
}

#details{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #faf9f9;
}

#lob{
    height: 100%;
    width: 40%;
    float: left;
    background-color: #faf9f9;
    display: inline-block;
    position: relative;
}

#lob-legend{
    height: 100%;
    width: 5%;
    float: left;
    background-color: #faf9f9;
    display: inline-block;
    position: relative;
}

#drawLobLegend{
    height: 100%;
    width: 100%;
}

#metrics{
    height: 100%;
    width: 55%;
    float: left;
    background-color: #faf9f9;
    display: inline-block;
    position: relative;
}



