.LOB{
    height: 15%;
    width: 100%;
    background-color: #ffffff;
    display: inline-block;
    float: left;
    position: inherit;
}

.title{
    height: 2%;
    width: 30%;
    font-size: 1vw;
    font-family: Oswald;
    text-align: center;
    color: rgb(255, 100, 53);
    display: inline-block;
    margin-bottom: 1%;
    margin-left: 35%;
    margin-top: 1%;
    border-radius: 5px;
}

.lob-svg{
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
}

.axis {
    font-size: 0.7vw;
    font-family: 'Oswald';
}

.lob-row-cell{
    border: 1vw solid black;
}

.lob-line{
    stroke: rgb(4, 0, 226);
    stroke-width: 0.5;
    fill: none;
}

.legend-text{
    font-size: 0.3vw;
    font-family: Oswald;
}

.liquidity{
    height: 15%;
    width: 100%;
    font-size: 0.8vw;
    font-family: Oswald;
}

.liq4company{
    height: 100%;
    width: 100%;
    text-align: center;
}

.liq-svg{
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
}

.liqRow{
    height: 10%;
    width: 100%;
    display: block;
}

.tick line{
    visibility:hidden;
  }


#details{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #ffffff;
}

#lob{
    height: 100%;
    width: 40%;
    float: left;
    background-color: #ffffff;
    display: inline-block;
    position: relative;
}

#lob-legend{
    height: 100%;
    width: 5%;
    float: left;
    background-color: #ffffff;
    display: inline-block;
    position: relative;
}

#drawLobLegend{
    height: 100%;
    width: 100%;
}

#metrics{
    height: 100%;
    width: 55%;
    float: left;
    background-color: #ffffff;
    display: inline-block;
    position: relative;
}



