
#SelectedBox{
    height: 5%;
    border: #ddd solid 1px;
    border-radius: 3px;
    width: 95%;
    margin-top: 1%;
    margin-bottom: 15%;
    margin-left: 1.7%;
    display:'inline-block';
    float:'left';
    position: relative;
    padding: 0;
}

#SelectedBoxLegendText{
    text-align: left;
    font-size: 0.7vw;
    font-family: 'Oswald';
    color: rgb(161, 161, 161);
    margin-left: 3%;
}

.selectedItem{
    height: 25%;
    width: 16%;
    border: #777777 solid 0.5px;
    border-radius: 1px;
    margin: 1%;
    display: inline-block;
    position: relative;
    background-color: rgb(180, 180, 180);
    color: #fff;
    text-align: center;
    font-size: 0.4vw;
    font-family: 'Helvetica';
}

.closeSelectedItem{
    height: 100%;
    width: 10%;
    position: relative;
    display: inline-block;
    float: left;
    left: 3%;
    /* top: 60%;
    border-radius: 30%;
    border:rgba(116, 115, 115, 0.6) solid 1px;
    background-size:cover;
    background-position: center;
    background-image: url("../../pics/close.png");
    background-repeat: no-repeat; */
}


.closeSelectedItem:hover{
    color: red;
    border-radius: 5px;
}