html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.img {
    max-width: 100%;
}

.stock {
    background-color: #faf9f9;
    font-size: 0.8vw;
    width: 95%;
    border: 0.5px solid #ddd;
    border-radius: 5%;
    text-align: center;
    margin-left: 1%;
    font-family: 'Oswald';
    z-index: 1;
}

.stock:hover {
    background-color: #777777;
    color: #ffffff;
}

.cancel-box {
    background-color: #faf9f9;
    font-size: 0.6vw;
    border: 0.5px solid #ddd;
    border-radius: 5%;
    text-align: center;
    margin-left: 10%;
}

.cancel-box:hover {
    background-color: #fd0404;
    color: #ffffff;
}

.added-stock {
    width: 20%;
    background-color: #faf9f9;
    font-size: 0.7vw;
    border: 0.5% solid #ddd;
    border-radius: 5%;
    text-align: center;
    display: inline-block;
    font-family: 'Oswald';
}

.stockViz {
    position: relative;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    background-color: #ffffff;
    height: 1.5%;
    width: 5%;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 2%;
    text-align: center;
    display: inline-block;
}

.stockViz .stockVizText {
    visibility: hidden;
    background-color: black;
    font-size: 0.8vw;
    font-family: 'Oswald';
    color: #fff;
    text-align: center;
    border-radius: 6%;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
}

.stockViz .stockVizText::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5%;
    border-width: 5%;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.stockViz:hover .stockVizText {
    visibility: visible;
}

.dropdown-sort {
    background-color: #ffffff;
    font-size: 0.8vw;
    font-family: 'Oswald';
    width: 80%;
    text-align: left;
    margin-left: 10%;
    margin-top: 10%;
}

.sortBtn {
    background-color: #faf9f9;
    font-size: 0.8vw;
    font-family: 'Oswald';
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2%;
    float: right;
    margin-top: 3%;
    margin-bottom: 3%;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.dropdown-content {
    display: none;
}

.dropdown-item {
    font-size: 0.8vw;
    font-family: 'Oswald';
    width: 100%;
    background-color: #ffffff;
    font-size: 0.8vw;
    color: rgb(0, 0, 0);
    border: 1px solid #ddd;
}

.dropdown-item:hover {
    background-color: #b9b9b9;
}

.show {
    display: block;
}

.stockLobViz {
    background-color: #faf9f9;
}

.innerFig {
    background-color: #faf9f9;
}

.figLegend {
    background-color: #faf9f9;
}

.figTick {
    background-color: #faf9f9;
}

.axis {
    font-size: 0.8vw;
    font-family: 'Oswald';
}

.binSize {
    width: 50%;
    height: 1%;
    margin-left: 10%;
}

.selectedItem{
    height: 27%;
    width: 20%;
    border: #777777 solid 1px;
    border-radius: 5px;
    margin: 1%;
    font-size: 0.7vw;
    font-family: 'Oswald';
    text-align: center;
    display: inline-block;
    position: relative;
}

.closeSelectedItem{
    height: 30%;
    width: 30%;
    position: absolute;
    top: 60%;
    left: 30%;
    border-radius: 30%;
    border:rgba(116, 115, 115, 0.6) solid 1px;
    font-size: 1vw;
    font-family: 'Oswald';
}

.closeSelectedItem:hover{
    background-color: rgb(214, 25, 25);
    color: white;
}

#root{
    width: 100%;
    height: 100%;
}

#viz{
    width: 100%;
    height: 100%;
}

#panel-menu {
    width: 15%;
    height: 100%;
    float: left;
    background-color: #ffffff;
    position: relative;
    display: inline-block;
}

#menu-icon{
    width: 50%; 
    margin-left: 25%;
    bottom: 5%;
}

#menu-description{
    border: #777777 solid 1px;
    border-radius: 5px;
    width: 95%;
    margin-left: 1%;
    font-size: 0.8vw;
    font-family: 'Oswald';
    text-align: justify;
}

#ReadMe{
    width: 96%;
    height: 80%;
    margin-left: 0%;
    border: #d4d4d4 solid 1px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #12aa26;
    position: relative;
    display: inline-block;
    font-size: 0.8vw;
    font-family: 'Oswald';
    text-align: center;
}

#SelectedBox{
    height: 15%;
    border: #777777 solid 1px;
    border-radius: 5px;
    width: 95%;
    margin-top: 20%;
    margin-left: 1%;
    font-size: 0.8vw;
    font-family: 'Oswald';
    text-align: justify;
    position: inherit;
    display:'block';
    float:'left';
}

#main-panel {
    width: 85%;
    height: 100%;
    float: left;
    background-color: #faf9f9;
    position: relative;
    display: inline-block;
}

#overview-legend {
    width: 5%;
    height: 100%;
    float: left;
    background-color: #faf9f9;
}

#searchBar {
    display: '';
    margin-bottom: 0%;
    margin-top: 5%;
    margin-left: 1%;
    background-image: url('../pics/search.png');
    /* Add a search icon to input */
    background-position: left;
    /* Position the search icon */
    background-repeat: no-repeat;
    background-size: contain;
    /* Do not repeat the icon image */
    width: 93.5%;
    float: left;
    font-size: 0.8vw;
    font-family: 'Oswald';
    /* Increase font-size */
    /* Add some padding */
    border: 1px solid #ddd;
    border-radius: 5px;
    /* Add a grey border */
    text-align: center;
    /* Add some space below the input */
}

#tradeDate {
    margin-top: 80%;
    background-color: #faf9f9;
    font-size: 0.8vw;
    font-family: 'Oswald';
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-left: 10%;
    color: rgb(179, 180, 180);
}

#detailed-button {
    margin-top: 16px;
    background-color: #3366ff;
    font-size: 0.9vw;
    font-family: 'Oswald';
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-left: 10%;
    color: #ffffff;
}

#selected-assets {
    background-color: #ffffff;
    font-size: 0.8vw;
    font-family: 'Oswald';
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-left: 10%;
}

#lob-detailed {
    float: left;
    background-color: #faf9f9;
}

#assetLiquidity {
    float: left;
    background-color: #faf9f9;
}

#liquidityCorrelation {
    float: left;
    background-color: #faf9f9;
}

#assetCorrMarket {
    float: left;
    background-color: #faf9f9;
}